
.container1, .container2, .container3, .container4, .container5, .container6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1% 1%;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px;
    background-color: yellow;
    padding: 2% 1%;
    border-radius: 5%;
    min-width: 300px;
}
.hover:hover{
    background-color: red;
}
.hover{
    transition: 0.5s;

}
img{
    border-radius: 5%;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
}
.section, .section2{
    display: flex;
    justify-content: center;
    
    margin: 5% 0 0;
}
.btn{
    padding: 5% 25%;
}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
}
a{
    padding: 10% 10%;
    background-color: black;
    color: #90c040;
    border-radius: 11%;
    font-size: 16px;
    margin: 0 0 5%;
}
a:hover{
    background-color: indigo;
}
p{
    text-align: center;
    margin: 5% 0;
    font-size: 19px;
}
body{
    animation-name: testing;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes testing{
0%{ background-color: red;}
14.28%{ background-color: orange;}
28.56%{background-color: yellow;}
42.84%{background-color: green;}
57.12%{background-color: blue;}
71.4%{background-color: indigo;}
85.68%{background-color: violet;}
100%{background-color: red;}
}